{# this field template is used to avoid formatting the special ID attribute as a number #}
 
 <a href="{{ path('easyadmin', ({ entity: 'Clientes', action: 'edit', id : value})) }}">{{ value  }}</a>
                      