{# this field template is used to avoid formatting the special ID attribute as a number #}
 
 <a href="{{ path('easyadmin', ({ entity: 'Ordenes', action: 'edit', id : value}) ) }}">{{ value  }}</a>
                      